table {
    border-spacing: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #134b57;
}

.del button {
    background: black;
    color: white;
    padding: 8px 20px;
    border: 0;
}

.del button:hover {
    background: red;
}

.create {
    padding: 10px 25px;
    margin-left: 10%;
    border: 1px solid;
    position: absolute;
    margin-top: 10px;
    background-color: #134b57;
    font-family: 'Montserrat', sans-serif;
}

.create:hover {
    background-color: green;
}


form input {
    background: #134b57;
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}

